<a href="https://colab.research.google.com/github/mborkhat/AISem3/blob/master/CW_HomeCreditDefault.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#pip install kaggle

In [2]:
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [3]:
import os
os.environ['KAGGLE_CONFIG_DIR'] = "/content/gdrive/My Drive/Kaggle"
# /content/gdrive/My Drive/Kaggle is the path where kaggle.json is present in the Google Drive

In [4]:
pwd

'/content'

In [5]:
cd /content/gdrive/My Drive/Kaggle

/content/gdrive/My Drive/Kaggle

In [6]:
!kaggle competitions download -c home-credit-default-risk

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
HomeCredit_columns_description.csv: Skipping, found more recently modified local copy (use --force to force download)
Downloading POS_CASH_balance.csv.zip to /content/gdrive/My Drive/Kaggle
 94% 102M/109M [00:01<00:00, 67.6MB/s]
100% 109M/109M [00:01<00:00, 93.4MB/s]
Downloading application_test.csv.zip to /content/gdrive/My Drive/Kaggle
  0% 0.00/5.81M [00:00<?, ?B/s]
100% 5.81M/5.81M [00:00<00:00, 95.4MB/s]
Downloading application_train.csv.zip to /content/gdrive/My Drive/Kaggle
 91% 33.0M/36.1M [00:00<00:00, 37.8MB/s]
100% 36.1M/36.1M [00:00<00:00, 71.3MB/s]
Downloading credit_card_balance.csv.zip to /content/gdrive/My Drive/Kaggle
 84% 81.0M/96.7M [00:00<00:00, 66.8MB/s]
100% 96.7M/96.7M [00:01<00:00, 90.8MB/s]
Downloading installments_payments.csv.zip to /content/gdrive/My Drive/Kaggle
 95% 257M/271M [00:02<00:00, 120MB/s]
100% 271M/271M [00:02<00:00, 117MB/s]
Downloading previous_application.csv.zip to /content/gdrive/My Drive/Kaggle
 80% 61.0M/76.3M [00:00<00:00, 42.2MB/s]
100% 76.3M/76.3M [00:01<00:00, 78.0MB/s]
sample_submission.csv: Skipping, found more recently modified local copy (use --force to force download)
Downloading bureau_balance.csv.zip to /content/gdrive/My Drive/Kaggle
 93% 53.0M/56.8M [00:00<00:00, 41.7MB/s]
100% 56.8M/56.8M [00:00<00:00, 89.5MB/s]
Downloading bureau.csv.zip to /content/gdrive/My Drive/Kaggle
 49% 18.0M/36.8M [00:00<00:00, 50.4MB/s]
100% 36.8M/36.8M [00:00<00:00, 82.7MB/s]

In [7]:
!unzip \*.zip  && rm *.zip

Archive:  POS_CASH_balance.csv.zip
  inflating: POS_CASH_balance.csv

Archive:  application_test.csv.zip
replace application_test.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n

Archive:  application_train.csv.zip
  inflating: application_train.csv

Archive:  credit_card_balance.csv.zip
  inflating: credit_card_balance.csv

Archive:  installments_payments.csv.zip
  inflating: installments_payments.csv

Archive:  previous_application.csv.zip
  inflating: previous_application.csv

Archive:  bureau_balance.csv.zip
replace bureau_balance.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n

Archive:  bureau.csv.zip
replace bureau.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: n

8 archives were successfully processed.

In [8]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [9]:
application_train=pd.read_csv("application_train.csv")

In [10]:
application_train.isnull().sum().sort_values(ascending=False)

COMMONAREA_MEDI                214865
COMMONAREA_AVG                 214865
COMMONAREA_MODE                214865
NONLIVINGAPARTMENTS_MODE       213514
NONLIVINGAPARTMENTS_MEDI       213514
                                ...
REG_CITY_NOT_LIVE_CITY              0
LIVE_REGION_NOT_WORK_REGION         0
REG_REGION_NOT_WORK_REGION          0
HOUR_APPR_PROCESS_START             0
SK_ID_CURR                          0
Length: 122, dtype: int64

In [11]:
number_col = application_train.select_dtypes('number')
#int_col = application_train.select_dtypes('int')
object_col = application_train.select_dtypes('object')

In [12]:
for f in number_col:
   application_train[f] = application_train[f].fillna(application_train[f].mean())

In [13]:
for f in object_col:
   application_train[f] = application_train[f].fillna(application_train[f].mode())

In [14]:
application_train.head()

   SK_ID_CURR  TARGET  ... AMT_REQ_CREDIT_BUREAU_QRT AMT_REQ_CREDIT_BUREAU_YEAR
0      100002       1  ...                  0.000000                   1.000000
1      100003       0  ...                  0.000000                   0.000000
2      100004       0  ...                  0.000000                   0.000000
3      100006       0  ...                  0.265474                   1.899974
4      100007       0  ...                  0.000000                   0.000000

[5 rows x 122 columns]

In [16]:
application_train.head()

   SK_ID_CURR  TARGET  ... AMT_REQ_CREDIT_BUREAU_QRT AMT_REQ_CREDIT_BUREAU_YEAR
0      100002       1  ...                  0.000000                   1.000000
1      100003       0  ...                  0.000000                   0.000000
2      100004       0  ...                  0.000000                   0.000000
3      100006       0  ...                  0.265474                   1.899974
4      100007       0  ...                  0.000000                   0.000000

[5 rows x 122 columns]

In [17]:
bureau = pd.read_csv("bureau.csv")
bureau_balance= pd.read_csv("bureau_balance.csv")
credit_card_balance = pd.read_csv("credit_card_balance.csv")
installments_payments = pd.read_csv("installments_payments.csv")
previous_application = pd.read_csv("previous_application.csv")
POS_CASH_balance = pd.read_csv("POS_CASH_balance.csv")

In [18]:
application_test = pd.read_csv("application_test.csv")

In [19]:
bureau.head()

   SK_ID_CURR  SK_ID_BUREAU  ... DAYS_CREDIT_UPDATE AMT_ANNUITY
0      215354       5714462  ...               -131         NaN
1      215354       5714463  ...                -20         NaN
2      215354       5714464  ...                -16         NaN
3      215354       5714465  ...                -16         NaN
4      215354       5714466  ...                -21         NaN

[5 rows x 17 columns]

In [20]:
bureau_balance.head()

   SK_ID_BUREAU  MONTHS_BALANCE STATUS
0       5715448               0      C
1       5715448              -1      C
2       5715448              -2      C
3       5715448              -3      C
4       5715448              -4      C

In [21]:
credit_card_balance.head()

   SK_ID_PREV  SK_ID_CURR  ...  SK_DPD  SK_DPD_DEF
0     2562384      378907  ...       0           0
1     2582071      363914  ...       0           0
2     1740877      371185  ...       0           0
3     1389973      337855  ...       0           0
4     1891521      126868  ...       0           0

[5 rows x 23 columns]

In [22]:
installments_payments.head()

   SK_ID_PREV  SK_ID_CURR  ...  AMT_INSTALMENT  AMT_PAYMENT
0     1054186      161674  ...        6948.360     6948.360
1     1330831      151639  ...        1716.525     1716.525
2     2085231      193053  ...       25425.000    25425.000
3     2452527      199697  ...       24350.130    24350.130
4     2714724      167756  ...        2165.040     2160.585

[5 rows x 8 columns]

In [23]:
previous_application.head()

   SK_ID_PREV  SK_ID_CURR  ... DAYS_TERMINATION  NFLAG_INSURED_ON_APPROVAL
0     2030495      271877  ...            -37.0                        0.0
1     2802425      108129  ...         365243.0                        1.0
2     2523466      122040  ...         365243.0                        1.0
3     2819243      176158  ...           -177.0                        1.0
4     1784265      202054  ...              NaN                        NaN

[5 rows x 37 columns]

In [24]:
POS_CASH_balance.head()

   SK_ID_PREV  SK_ID_CURR  ...  SK_DPD  SK_DPD_DEF
0     1803195      182943  ...       0           0
1     1715348      367990  ...       0           0
2     1784872      397406  ...       0           0
3     1903291      269225  ...       0           0
4     2341044      334279  ...       0           0

[5 rows x 8 columns]

In [25]:
#train=pd.merge(application_train,previous_application)

In [26]:
#train=pd.merge(application_train,Bureau_merged)

In [27]:
#Bureau_merged=pd.merge(bureau,bureau_balance)

In [28]:
#train=pd.merge(application_train,Bureau_merged)

In [29]:
bureau_mean = bureau.drop(columns = ['SK_ID_BUREAU']).groupby('SK_ID_CURR', as_index = False).agg(['mean']).reset_index()
bureau_mean.head()

  SK_ID_CURR  DAYS_CREDIT  ... DAYS_CREDIT_UPDATE  AMT_ANNUITY
                     mean  ...               mean         mean
0     100001  -735.000000  ...         -93.142857  3545.357143
1     100002  -874.000000  ...        -499.875000     0.000000
2     100003 -1400.750000  ...        -816.000000          NaN
3     100004  -867.000000  ...        -532.000000          NaN
4     100005  -190.666667  ...         -54.333333  1420.500000

[5 rows x 13 columns]

In [30]:
bureau_mean.shape

(305811, 13)